@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all
        hover:border-[#4169E1]/40 hover:text-[#4169E1]/40

    }

    .contactInput{
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
        text-gray-500 placeholder-gray-500 transition-all focus:border-[#4169E1]/40 
        focus:text-[#4169E1]/40 hover:border-[#4169E1]/40
    }
}